.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-photo/back-school-background-with-school-supplies-copy-space_23-2148958977.jpg?w=2000");
    /* z-index: 10; */
    background-repeat: no-repeat;
    background-size: cover;
}


.signup form {
    border: 4px solid white;
    border-radius: 20px;
    padding: 20px;
    width: 500px !important;
}
.signup input, .signup button {
    margin: 10px 0;
    width: 100% !important;
}
.signup button {
    background-color: rgb(70, 152, 161);
    color: black;
}
.signup button:hover {
    border: #ff6600;
    background-color: #ff6600;
    /* transform: scale(1.02); */
}


.login_link{
    text-decoration: none;
    color: black;
}

.login_link:hover{
    color: #ff6600;
}