.single_item{
    position: relative;
    bottom: 5rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
}

.single_item:hover{
    transform: scale(1.02);
}

.notes_img{
    width: 400px;
    height: 350px;
}

.notes_card{
    cursor: pointer;
    align-items: center;
}

.notes_title{
    font-weight: 800;
    text-align: center;
    position: relative;
    bottom: 40px;
    left: 20px;
}
